[submodule "vphysics"]
	path = vphysics
	url = https://github.com/P0L3NARUBA/vphysics
[submodule "ivp"]
	path = ivp
	url = https://github.com/P0L3NARUBA/ivp
[submodule "vphysics_bullet"]
	path = vphysics_bullet
	url = https://github.com/P0L3NARUBA/vphysics_bullet
